.thirdBody {
    position: relative;
    width: 100%;
    height: 100vh;
    /* background: linear-gradient(to bottom,#ECD9BA, #F4F0DB); */
    background: linear-gradient(to left bottom, #ECD9BA, #ececec);
    z-index: 2;
    display: flex;
    justify-content: space-between;
}

a {
    color: inherit !important;
    text-decoration: none !important;
}

.cImg, .contact-me {
    height: 100%;
}

.cImg {
    width: 40%;
}

.first {
    position: absolute;
    max-height: 100%;
    max-width: 40%;
    z-index: 1;
}


.contact-me {
    width: 60%;
    display: flex;
    flex-direction: column;
}

.socials {
    display: flex;
    width: 100%;
    height: 30%;
    justify-content: space-evenly;
    padding-top: 2%;
}

.forms, .contact-form {
    display: flex;
    flex-direction: column;
}

.contact-form {
    margin: 1%;
    width: 90%;
    max-height: 80%;
}

input, textarea {
    margin: 1%;
}

input {
    width: 35%;
}

.send-button {
    background-color: blanchedalmond;
    color: black;
    width: 25%;
    height: 10%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    transition: transform 200ms, color 200ms, background-color 200ms, width 200ms;
}

.send-button:hover {
    transition: transform 200ms, color 200ms, background-color 200ms;
    transform: translateX(5%);
    color: blanchedalmond;
    background-color: black;

}

.sent-button {
    background-color: blanchedalmond;
    color: black;
    width: 15%;
    height: 10%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    transition: width 100ms, transform 200ms;
}

.icons {
    height: 100%;
    font-size: 2rem;
    transition: 200ms transform;
}

.icons:hover {
    transition: 400ms transform;
    transform: scale(1.3);
}

.icons:active {
    transition: transform 100ms;
    transform: scale(1);
}

.profile-pic {
    border-radius: 50%;
    border: 2px solid rgba(0, 0, 0, 0.63);
    max-height: 90%;
    user-select: none;

}

.send-email {
    background: black;
    font-size: 2.5rem;
    box-shadow: 4px 4px 3px rgba(70, 70, 70, 0.664);
    color:blanchedalmond;
    max-width: 40%;
    padding: 1%;
    cursor: pointer;
    font-family: Georgia, 'Times New Roman', Times, serif;
    transition: transform 500ms;
}


.send-email:hover {
    transition: transform 500ms;
    transform: translateY(10%);
}

@media screen and (max-width: 1200px) {
    .first {
        display: none;
    }

    .contact-me {
        width: 100%;
    }
}